.main {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin: 150px 30px;
}

.main div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}

.main div section {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.main div section article {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

.main div section article span {
    font-size: 15px;
}

.main div section article h1 {
    font-size: 24px;
    font-weight: 800;
}

.main div section article p {
    color: #959595;
    font-size: 18px;
}

.main div section button {
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 4px;
    margin-top: 15px;
}

.main div section button a {
    font-size: 15px
}

.main div section:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.main div section:nth-child(2) img {
    width: 450px;
    object-fit: cover;
}

.main div section ul {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    list-style: none;
    width: 100%;
    gap: 30px;
}

.main ul li a {
    font-size: 28px;
}

@media (max-width: 1000px) {
    .main div section article h1 {
        font-size: 18px;
    }

    .main div section article p {
        font-size: 15px;
    }

    .main div section:nth-child(2) img {
        width: 400px;
    }

    .main div section ul li a {
        font-size: 24px;
    }


}

@media (max-width: 900px) {
    .main div {
        grid-gap: 15px;
    }

    .main div section:nth-child(2) img {
        width: 350px;
    }

}

@media (max-width: 850px) {
    .main div {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
    }

    .main div section,
    .main div section article,
    .main div section ul {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main div section article p {
        text-align: center;
    }

    .main div section:nth-child(2) img {
        width: 300px;
    }
}

@media (max-width: 500px) {
    .main {
        margin: 100px 30px;
    }

    .main div section ul {
        align-items: flex-start;
        justify-content: flex-start;
    }

    .main div section article {
        align-items: flex-start;
    }

    .main div section article p {
        text-align: left;
    }

    .main div section:nth-child(2) img {
        width: 250px;
    }

}