.containerDetails {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 60px;
    max-width: 1000px;
    margin: 0 auto;
    gap: 30px;
}

.containerDetails article {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

.containerDetails article h1 {
    font-size: 24px;
}

.containerDetails article p {
    font-size: 18px;
}

.containerDetails article ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 15px;
}

.containerDetails article ul li a i {
    font-size: 32px;
}

.containerDetails section {
    display: grid;
    grid-template-columns: auto 1fr;
    margin-left: 15px;
    grid-gap: 15px;
}

.containerDetails section hr {
    height: 100%;
    width: 1px;
}

.containerDetails section div {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 5px 0;
    gap: 15px;
}

.containerDetails section div h2 {
    font-size: 18px;
}

.containerDetails section div p {
    font-size: 15px;
}


.containerDetails ul {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
}

.containerDetails ul li a button {
    width: 200px;
    height: 55px;
    border: none;
    border-radius: 4px;
    font-size: 15px;
}

.containerDetails ul li:nth-child(1) a button {
    background-color: black;
    color: white;
}

.containerDetails ul li:nth-child(2) a button {
    border: 1px solid black;
    background: none;
}

@media (max-width: 600px) {
    .containerDetails ul li a button {
        width: 150px;
        height: 50px;
        border: none;
        border-radius: 4px;
        font-size: 15px;
    }
}

@media (max-width: 500px) {
    .containerDetails ul {
        flex-direction: column;
    }

    .containerDetails ul li a button {
        width: 100%;
        height: 55px;
        padding: 0 15px;
    }
}